<!--{template common/header}-->
<div id="pt" class="bm cl">
	
</div>
<link id="style_css" rel="stylesheet" type="text/css" href="{STATICURL}topic/t1/style.css?{VERHASH}">
<style id="diy_style" type="text/css"></style>
<div id="widgets">
</div>
<div class="wp">
<table width="920px;">
<tr>
<td align="left"><img src="{IMGDIR}/examlogo.png" /></td>
<td align="right"><form method="get" action="http://www.justsole.cn/search.php">
        <table>
        <tr>
        <td><input type="hidden" name="mod" value="forum" />
        <input type="text" name="srchtxt" id="srchtxt" value="" style=" background-color:#FFF; width:300px; height:26px; border: 1px solid  #888; " /></td>
        <td><input type="submit" name="submit" value="搜索" style="background-color:#25B4F0;
	height:32px; width:80px;
	border: 1px solid  #DDD; color:#EEE; cursor:pointer; border-radius:3px;">
    </td></tr></table>
</form></td></tr></table>
<!--[diy=diypage]-->
<div id="diypage" class="area">
	<div id="frame1" class="frame move-span frame-1 cl">
		<div class="frame-title title" id="frame1"><span class="titletext">{lang frame}</span></div>
		<div id="frame1_left" class="column frame-1-c"></div>
	</div>
</div>
<!--[/diy]-->
<!--{if $topic['allowcomment']==1}-->
	{eval
		$data = &$topic;
		$common_url = "portal.php?mod=comment&id=$topicid&idtype=topicid";
		$form_url = "portal.php?mod=portalcp&ac=comment";
		$commentlist = portaltopicgetcomment($topicid);	}
	<!--{template portal/portal_comment}-->
<!--{/if}-->
</div>
<script src="misc.php?mod=diyhelp&action=get&type=topic&diy=yes&topicid=$topicid&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}-->